Flask==1.0.3
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy==1.18.1
numpydoc==1.0.0
opencv-contrib-python==4.5.1.48
opencv-python==4.2.0.34
python-dotenv==0.19.0
scikit-image==0.17.2
scikit-learn==0.23.0
scipy==1.4.1
Shapely==1.7.1
tensorboard==2.1.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0